<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-grey w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-teal w3-margin-right w3-round-large" onclick="w3_open()">☰</a>
    <span class="w3-serif">Project: URL Shortner</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay">
    <br><br>
</div>